*{
    
    /* border: 0.1px dashed red; */
    

}

body{
    overflow: hidden;
    margin: 0 auto;
    
    

    font-size: 0.6rem;
    
}


@media (min-width: 0px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 2400px;
    }
  }



.btn{
    font-size: 0.5rem;
    font-weight: bold;
    padding: 0px 5px;
    text-align: center;
}

.fa-pencil, .fa-trash{
    color: #6c757d;
    border: 1px solid #6c757d;
    padding: 5px;
    border-radius: 3px;
    margin: 0 2px;
    cursor: pointer;
    
}

.fa-pencil:hover, .fa-trash:hover{
   background-color: #6c757d;
   color: white;
}

.xxx{
    background-color: #f26551;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: ;
    
    
}

.fa-code{
    color: white;
}


.table-width-{
    width: 65%;
}

.vv_text-center{
    text-align: center;
}





/* REGOLE DELL'HEADER */

header{

    
    

}

header .container{
    height: 50px;
    background-color: #f8f9fa;
    z-index: 1000;
    position: fixed;
    
    
}

header .row{
    height: 70%;
    background-color: white;
}

header img{
    height: 100%;
    
}

#logo{
    display: none;
    width: 100%;
}


/* media header */

@media all and (max-width: 991px){
    header .gap-2 .fa-solid{
        display: none;
    }

    header .gap-2 .fa-bell{
        display: block;
    }
}



@media all and (min-width: 991px) {
    #logo{
        display: block;
    }

    #logo-small{
        display: none;
    }

    header .gap-2 .fa-solid{
        display: block;
    }


    

}



header .col-10 input{
    background-color: #e5e5e5;
    
}

header a{
    text-decoration: none;
}

header .gap-2 .fa-solid{
    font-size: 1rem;
    color: #5b5858;
    
}

header .gap-2 .fa-bell{
    color: #ff8f00;
    background-color: white;
    border: none;
}

/* debug */

.vv_bg-green{
    background-color: rgb(63, 190, 63);
    height: 50px;

}

.vv_bg-red{
    background-color: rgb(183, 55, 55);
    height: 50px;

}

.vv_bg-blue{
    background-color: rgb(52, 52, 169);
    height: 50px;
}

.card{
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    margin: 20px 0;
}

.card-a{
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    margin: 10px;
}

.card-pad{
    padding: 10px;
}







/* REGOLE DEL MAIN */
main{
    margin-top: 50px;
    
}

#nav-laterale{
    height: calc(100vh - 50px);
    width: 120px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;

}

#nav-laterale a:hover, #nav-laterale a:hover i{
    background-color: #e5e5e5;
    color: #051e34;
    padding: 0 3px;

}



.nav-icon a i, .nav-extended a i, .nav-extended a{
    color: white;
    text-decoration: none;
    font-size: 1rem;




}

@media all and (max-width: 991px){

    main .nav-extended{
        display: none;
    }

    main .nav-icon{
        display: flex;

    }

    #nav-laterale{
        width: 60px;
        
    
    }
    
    
}


@media all and (min-width: 991px){

    main .nav-extended{
        display: flex;
    }

    main .nav-icon{
        display: none;
    }
    
}


#bigger{
    margin-left: 0.75rem;
    margin-right: -0.75rem;
    overflow-y: scroll;
    height: 100vh;
}


#bigger .row{
    
}


#bigger .table tbody tr:hover td{
    background-color: #c6c9cb;
}

#top-main{
    background-color: #1b72e8;
    color: white;

    /* debug */
    
    min-height: 100px;
    
    
}

#top-main .fa-square-plus{
    color: white;
    font-size: 2rem;
    
    
}



#image-stats{
    width: 100%;

}

#blue-block h4{
    display: inline;

}


.offcanvas-body button{
    padding: 5px 8px;
    font-size: 0.7rem;

}



/* REGOLE DEL FOOTER */

footer{
    
}

